.note-wrapper {
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden
}

.note-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem;
}

.note {
    animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        filter: blur(30px);
        /* transform: translateY(-10%); */
    }

    100% {
        opacity: 1;
        filter: blur(0px);
        /* transform: translateY(0); */
    }
}

.note-container h1,
.note-container h3 {
    margin: 0;
    text-align: center;
}

.note-container h1 {
    font-size: 4.5rem;
    font-weight: 600;
    letter-spacing: -2px;
    color: white;
}

.note-container h3 {
    font-size: 1.2rem;
    font-weight: 400;
    width: 60%;
    color: #8B949E;
}

.note-buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.note-buttons>div>button {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Poppins';
    border-radius: none;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    color: black;
}

.take-a-tour button {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Poppins';
    border-radius: none;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    color: black;
    background-color: transparent;
    border: 1px solid #6E7681;
    color: white;
    transition: border-width 0.2s;
}

/* .note-buttons>.resume>button:hover {
    background-color: #ffffffd4;
} */

.resume-modal {
    background-color: white;
    height: 16rem;
    width: 22rem;
    border-radius: 0.5rem;
    padding: 1rem;
    position: relative;
}

.resume-prompt {
    font-size: 1.3rem;
    text-align: center;
    font-weight: 400;
    padding: 1.5rem 3rem;
}

.resume-btns {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0.5rem 1.7rem;
}

.resume-btns button {
    font-size: 1.2rem;
    padding: 1rem;
    flex: 1;
    border: none;
    border-radius: 0.3rem;
    color: white;
    background-color: #292D32;
    cursor: pointer;
}

.resume button:hover {
    box-shadow: rgba(255, 255, 255, 0.599) 0px 10px 20px -10px;
}

.resume-btns .download {
    background-color: transparent;
    border: 2px solid #292D32;
    color: #292D32;
    padding: 0.9rem;
}

a {
    text-decoration: none;
}

.download a {
    color: #292D32;
}

.view a {
    color: white;
}

.resume-close {
    position: absolute;
    right: 1rem;
    top: 0.6rem;
    height: 2rem;
    width: 2rem;
    background: url("../Assets/close-circle.svg");
    cursor: pointer;
}

.download-completed {
    content: 'Thanks for Downloading!';
}

@media only screen and (max-width: 767px) {

    .note-container {
        margin-bottom: 2rem;
    }


    .note-container h1 {
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: -1px;
        color: white;
    }


    .note-container h3 {
        width: 100%;
        font-size: 1rem;
        letter-spacing: 0px;
    }
}