.vscode-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.vscode-window {
    width: 85%;
    height: 80%;
    background-color: #252526;
    border: 1px solid #3e3e3e;
    border-radius: 0.3rem;
    display: flex;
    position: relative;
}

.vscode-menu {
    height: 100%;
    width: 6%;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.main-icons {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.menu-icons {
    width: 5rem;
    height: 4.2rem;
    display: grid;
    place-items: center;
}

.menu-icons:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.322);
}

.profile-icons {
    width: 5rem;
    height: 5rem;
    display: grid;
    place-items: center;
    padding-bottom: 2rem;
}

.profile-icons:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.322);
}

.active-Menu-item {
    border-left: 5px solid white;
}


.vscode-menu-items {
    height: 100%;
    width: 24%;
    background-color: #252526;
}

.vscode-menu-title {
    height: 10%;
    width: 100%;
    background-color: #252526;
    font-size: 0.6rem;
    color: white;
    display: flex;
    align-items: center;
}

.vscode-menu-title h1 {
    margin: 0;
    padding: 1.4rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.clearIcon:hover {
    cursor: pointer;
}

.vscode-menu-subtitle {
    height: 90%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 2rem;
}

.vscode-menu-subtitle::-webkit-scrollbar {
    width: 5px;
}

.vscode-menu-subtitle::-webkit-scrollbar-track {
    background-color: #252526;
}

.vscode-menu-subtitle::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 8px;
}

.active-Subtitle {
    background-color: #007ACC;
}

.vscode-menu-subtitle h3 {
    font-size: 1rem;
    color: white;
    font-weight: 500;
    margin: 0;
    padding: 1rem 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1.5rem;
}

.vscode-menu-subtitle h3:hover {
    cursor: pointer;
    /* background-color: #007ACC; */
}

.vscode-content {
    border-radius: 0.3rem;
    height: 100%;
    width: 70%;
    background-color: #1E1E1E;
}

.vscode-content .vscode-menu-title h1 {
    background-color: #1E1E1E;
    font-size: 1rem;
}

.vscode-main-content {
    width: 90%;
    height: 90%;
    padding: 0 3rem;
}

.vscode-main-projectName {
    width: 100%;
    height: 25%;
    /* background-color: rgba(0, 0, 0, 0.462); */
}

.vscode-main-projectName h2 {
    font-size: 2rem;
    color: white;
    font-weight: 600;
    margin: 0;
    /* background-color: red; */
    padding: 2rem 0;
    padding-bottom: 1rem;
}

.vscode-main-projectName .project-tags {
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.project-tags h5 {
    margin: 0;
    font-size: 0.8rem;
    background-color: #3C3C3C;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    color: white;
}

.project-description {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.project-desc-title {
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    /* background-color: yellow; */
}


.project-desc-title::-webkit-scrollbar {
    width: 5px;
}

.project-desc-title::-webkit-scrollbar-track {
    background-color: #1E1E1E;
}

.project-desc-title::-webkit-scrollbar-thumb {
    background-color: #252526;
    border-radius: 8px;
}

.project-description h5 {
    margin: 0;
    font-size: 1.2rem;
    /* background-color: #3C3C3C; */
    padding: 0.5rem 0;
    border-radius: 0.3rem;
    color: white;
}


.project-desc-title p {
    font-size: 1rem;
    margin: 0;
    color: white;
    background-color: #3C3C3C;
    padding: 0.5rem 1rem;
    /* border-radius: 0.2rem; */
    /* margin-top: 1rem; */
}

.project-btns {
    width: 100%;
    height: 25%;
}

.project-btns button {
    padding: 0.8rem 2.5rem;
    border: none;
    border-radius: 0.2rem;
    background-color: #007ACC;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins';
    color: white;
    margin: 0 1rem;
}

.project-btns button:hover {
    background-color: #3fa0e1;
    cursor: pointer;
}

.vs-code-bottom-bar {
    position: absolute;
    width: 100%;
    height: 4%;
    background-color: #007ACC;
    bottom: 0;
}

.vscode-mobile {
    display: none;
}

.design-img-wrapper {
    height: 30rem;
    width: 22rem;
    background-color: white;
    padding: 1rem;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    padding-top: 4.5rem;
    display: grid;
    place-items: center;
}



.coffeeCupLoader {
    position: absolute;
    left: 50%;
    top: 50%;
}

.design-img-wrapper::-webkit-scrollbar {
    width: 5px;
}

.design-img-wrapper::-webkit-scrollbar-track {
    background-color: #1E1E1E;
}

.design-img-wrapper::-webkit-scrollbar-thumb {
    background-color: #252526;
    border-radius: 8px;
}

.design-img-wrapper img {
    width: 100%;
    object-fit: fill;
    border-radius: 0.5rem;
}

.design-img {
    position: absolute;
}

.mobile-popup {
    display: none;
}

@media only screen and (max-width: 767px) {
    .vscode-window {
        display: none;
    }

    .vscode-mobile {
        width: 85%;
        height: 80%;
        background-color: #252526;
        border: 1px solid #3e3e3e;
        border-radius: 0.3rem;
        display: flex;
        flex-direction: column;
    }

    /* .vs-code-topbar {
        width: 100%;
        height: 4%;
        background-color: #007ACC;
    } */

    .vscode-mobile-content {
        width: 100%;
        height: 90%;
        background-color: #1E1E1E;
    }

    .vscode-mobile-menu {
        width: 100%;
        height: 10%;
        background-color: #333333;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .mobile-content-title {
        width: 100%;
        height: 10%;
        background-color: #007ACC;
        display: flex;
        align-items: center;
    }

    .mobile-content-title h3 {
        margin: 0;
        margin: 0;
        font-size: 1rem;
        color: white;
        padding: 0 2rem;
    }

    .mobile-content-list {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        /* background-color: white; */
    }

    .mobile-content-list h3 {
        margin: 0;
        background-color: #252526;
        font-size: 1rem;
        font-weight: 500;
        color: white;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem 1rem;
        border-bottom: 1px solid rgb(62, 62, 62);
    }

    .mobile-project-container {
        background-color: white;
        height: 18rem;
        width: 20rem;
        border-radius: 0.5rem;
        padding: 1rem;
        position: relative;
    }

    .vscode-main-projectName>h3 {
        font-size: 1.5rem;
        color: black;
        font-weight: 600;
        margin: 0;
        padding: 1.2rem 0;
    }

    .mob-icon {
        flex: 1;
        display: grid;
        place-items: center;
        height: 100%;
    }

    .active-icon {
        background-color: #007ACC;
    }

    .mobile-tags {
        flex-wrap: wrap;
    }

    .mob-buttons {
        padding: 1rem 1rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-btns>button {
        width: 100%;
        margin: 0;
    }

    .mobile-popup {
        display: block;
        position: absolute;
    }

}