.hireMeModal-wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    font-family: 'Poppins';
}

.hireMe-card {
    width: 80%;
    height: 90%;
    background-color: #24292F;
    border: 1px solid #3e3e3e;
    border-radius: 0.3rem;
}

.hireMe-card:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.hireMe-card h1 {
    font-size: 3rem;
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 1rem 3rem;
    padding-bottom: 0;
}

.hireMe-card h2 {
    margin: 0;
    color: white;
    font-size: 1.5rem;
    padding: 0rem 3rem;
    font-weight: 400;
}

.hireMe-card button {
    padding: 1rem;
    width: 80%;
    margin: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 767px) {
    .hireMe-card {
        width: 100%;
        height: 100%;
    }

    .hireMe-card h1 {
        font-size: 2rem;
        padding: 1rem 1rem;
        padding-bottom: 0;
    }

    .hireMe-card h2 {
        font-size: 1rem;
        padding: 0rem 1rem;
        font-weight: 400;
    }

    .hireMe-card button {
        margin: 1rem 2rem;
        font-size: 1.2rem;
    }
}