header {
    width: 100%;
    height: 5.5rem;
    background-color: #2C2445;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    gap: 1rem;
}

.nav-item-box {
    position: relative;
}

.nav-items {
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    padding: 1rem;
    height: 100%;
    display: grid;
    place-items: center;

}

.nav-items:hover {
    color: #58A6FF;
}

.underline {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.nav-item-box:hover .underline {
    width: 60%;
    background-color: #58A6FF;
}

.brand {
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.brand label {
    font-size: 1.3rem;
    font-weight: 600;
}

.brand:hover {
    color: white;
}

.brand .logo {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    z-index: 999;
    background: url("../Assets/logo_circle_white.svg");
}

.logo:hover {
    opacity: 0.8;
}

.hamburger,
.ham-menu {
    display: none;
}

.scroll-to-top-btn {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: #ffffff30;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
    animation: pop-in 0.5s ease-in-out;
    z-index: 999;
}

@keyframes pop-in {
    0% {
        transform: scale(0);
    }

    70% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.scroll-to-top-btn:hover {
    opacity: 0.8;
}






/*************** MOBILE VIEW **************/





@media only screen and (max-width: 767px) {

    header {
        gap: 0;
    }

    .nav-items {
        display: none;
    }

    .brand {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        position: relative;
    }

    .brand label {
        display: none;
    }

    .brand .logo {
        width: 2.5rem;
        height: 2.5rem;
    }

    .hamburger {
        left: 1rem;
        z-index: 999;
        display: block;
        position: absolute;
    }

    .ham-menu {
        width: 100vw;
        height: 32vh;
        background-color: #24292F;
        position: absolute;
        top: 0;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        z-index: 2;
    }

    .ham-menu-container {
        width: 100%;
        height: 85%;
        align-self: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 8rem;

    }

    .ham-items {
        width: 80%;
        padding: 1.5rem;
        font-size: 1rem;
        font-weight: 500;
        color: white;
        border-bottom: 0.1px solid rgba(255, 255, 255, 0.369);
    }

}